/* .term {
    font-family: "Montserrat", sans-serif;
    text-transform: lowercase;
    font-weight: 400;
    line-height: 1.666;
    background: $color_secondary;
    color: #555;
}  */

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 90%;
    max-width: 120%;
    text-align: left;
    
  }

  table .center {
    text-align: center;
  }

  th,
  td {
    padding: 0.5rem  0.5rem  0.25rem  0.5rem;
    vertical-align: top;
  }
  
  th {
    text-align: inherit;
  }
  
  thead th {
    font-weight: 600;
    vertical-align: bottom;
    color: #2EC2B0;
    border-bottom: 2px solid #b5ede7;
  }
  
  td {
    border-bottom: 1px solid #caf2ed;
  }
  
  .term-cam{
    left: 55px !important;
  }
  .term {
    opacity: 0.75;
    /* font-family: "Montserrat", sans-serif; */
    font-weight: 400;
    line-height: 1.8;
    color: #555;
    text-align: center;
    /* max-width: 20rem; */
    margin-bottom: 1.5rem;
    padding: 0.75rem 0.75rem 0.5rem 0.75rem;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(255,255,255,1);
    transition: all 100ms ease-in-out;
    position: absolute;
    right: 20px;
    top:75px;
    z-index: 99;
    width: 290px;
  }
  
  .term:hover {
    opacity: 1;
    background-color: #fff;
    transform: scale(1.01) translateY(-4px);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 3px 10px rgba(0, 0, 0, 0.1), 0 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .dictionary > .term > dt {
    margin-bottom: 1rem;
  }
  
  dt {
    color: #347ee7;
    line-height: 1.3;
  }
  dt span {
    font-size: 180%;
    font-weight: 700;
  }
  
  dd {
    font-size: 120%;
    margin-left: 0;
  }
  
  dd dt {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: inherit;
  }
  
  dd dl {
    font-size: 90%;
    margin: 1rem auto 0 auto;
    letter-spacing: 0.33px;
    max-width: 15rem;
  }
  
 
  dd dl .term {
    margin-bottom: 1rem;
  }

  b {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    border-bottom: solid 2px #dee8e9;
  }
  b:hover {
    border-color: #2EC2B0;
  }

  dd .btn{
      background-color: #2EC2B0;
      color: #fff;
      font-weight: 600;
      line-height: 1.25;
      border-radius: 7px;
      font-size: 18px;
      margin-top: 8px;
  }

  dd .btn:hover{
      background-color: #f4d160;
      color: rgb(189, 113, 7);
      
      font-weight: 750;
      /* text-shadow:  #555 0.1em 0.1em 0.2em; */
  }


  .id_card
  {
    opacity: 0.9;
    font-family: 'Noto Sans TC', '微軟正黑體','Muli';
    font-weight: 500;
    /* line-height: 1.8; */
    color: #555;
    text-align: center;
    /* max-width: 20rem; */
    margin-bottom: 1.5rem;
    /* padding: 0.75rem 1.5rem 0.5rem 1.5rem; */
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1); */
    background-color: rgba(255,255,255,1);
    transition: all 100ms ease-in-out;
    position: absolute;
    left: 70px;
    top:35px;
    z-index: 99;

  }
  @keyframes dsTop {
    0% {left: -50px;}
    100% {left: 0;}
  }
  .ds-top {
    position: absolute;
    /* margin: auto; */
    top: 0;
    right: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: #CBDF1E;
    border-top-left-radius: 10px;
    animation: dsTop 1.5s;
  }
  @keyframes mvTop {
    0% {top: 0px;}
    100% {top: 50px;}
  }
  .id_photo {
    position: absolute;
    margin-left: 15px;
    top: 60px;
    right: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #151515,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,;
    background: white;
    overflow: hidden;
    animation: mvTop 1.5s;
    border: 7px #fff solid;
  }
  .card .id_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border:#CBDF1E 3px solid ; */
  }
  .card-body{
    margin-left:55px;
    
  }

  .id_barcode{
    margin: auto;
  }
  

  
