.login-btn {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 2px;
  position: relative;
  background-color: rgba(22, 160, 133, 0.65);
  border: none;
  color: #fff;
  padding: 20px;
  width: 210px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #1b5b6b;
  border-radius: 7px;
}

.login-btn:hover:not([disabled]) {
  background: rgba(0, 242, 196, 0.8);
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #fff;
}


.stop-btn {
  z-index: 10;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 2px;
  position: relative;
  background-color: rgba(222, 91, 109, 0.75);
  border: none;
  color: #fff;
  padding: 20px;
  width: 210px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #aa5758;
  border-radius: 7px;
}

.stop-btn:hover:not([disabled]) {
  background: rgba(255, 0, 91, 0.8);
  box-shadow: 0px 2px 10px 5px #f375b5;
  color: #fff;
}

.button:after {
  content: "";
  background: #feffff;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button:focus {
  outline: 0;
}

button:disabled {
  background: rgba(114, 114, 114, 0.8);
  box-shadow: none;
}

#current_pose_tooltip{
  position: fixed;
  top: 8%;
  color:#EC2A23;
  font-size: 60px;
  text-shadow: 0 5px 8px rgba(255,255,255, 0.5);
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 90%;
    max-width: 120%;
    text-align: left;
    
  }

  table .center {
    text-align: center;
  }

  th,
  td {
    padding: 0.5rem  0.5rem  0.25rem  0.5rem;
    vertical-align: top;
  }
  
  th {
    text-align: inherit;
  }
  
  thead th {
    
    vertical-align: bottom;
    
  }
  
  td {
    border-bottom: 1px solid rgba(255,255,255,0.18);
  }
  
  .term {
    opacity: 0.75;
    /* font-family: "Montserrat", sans-serif; */
    font-weight: 400;
    line-height: 1.8;
    color: #555;
    text-align: center;
    /* max-width: 20rem; */
    margin-bottom: 1.5rem;
    padding: 0.75rem 0.75rem 0.5rem 0.75rem;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(255,255,255,1);
    transition: all 100ms ease-in-out;
    position: absolute;
    left: 35px;
    top:75px;
    z-index: 99;
    width: 290px;
  }
  
  .term:hover {
    opacity: 1;
    background-color: #fff;
    transform: scale(1.01) translateY(-4px);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 3px 10px rgba(0, 0, 0, 0.1), 0 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .dictionary > .term > dt {
    margin-bottom: 1rem;
  }
  
  dt {
    color: #347ee7;
    line-height: 1.3;
  }
  dt span {
    font-size: 180%;
    font-weight: 700;
  }
  
  dd {
    font-size: 120%;
    margin-left: 0;
  }
  
  dd dt {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: inherit;
  }
  
  dd dl {
    font-size: 90%;
    margin: 1rem auto 0 auto;
    letter-spacing: 0.33px;
    max-width: 15rem;
  }
  
 
  dd dl .term {
    margin-bottom: 1rem;
  }

  b {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    border-bottom: solid 2px #dee8e9;
  }
  b:hover {
    border-color: #2EC2B0;
  }

  dd .btn{
      background-color: #2EC2B0;
      color: #fff;
      font-weight: 600;
      line-height: 1.25;
      border-radius: 7px;
      font-size: 18px;
      margin-top: 8px;
  }

  dd .btn:hover{
      background-color: #f4d160;
      color: rgb(189, 113, 7);
      
      font-weight: 750;
      /* text-shadow:  #555 0.1em 0.1em 0.2em; */
  }


  .id_card
  {
    opacity: 0.9;
    font-family: 'Noto Sans TC', '微軟正黑體','Muli';
    font-weight: 500;
    /* line-height: 1.8; */
    color: #555;
    text-align: center;
    /* max-width: 20rem; */
    margin-bottom: 1.5rem;
    /* padding: 0.75rem 1.5rem 0.5rem 1.5rem; */
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1); */
    background-color: rgba(255,255,255,1);
    transition: all 100ms ease-in-out;
    position: absolute;
    left: 70px;
    top:35px;
    z-index: 99;

  }
  @keyframes dsTop {
    0% {left: -50px;}
    100% {left: 0;}
  }
  .ds-top {
    position: absolute;
    /* margin: auto; */
    top: 0;
    right: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: #CBDF1E;
    border-top-left-radius: 10px;
    animation: dsTop 1.5s;
  }
  @keyframes mvTop {
    0% {top: 0px;}
    100% {top: 50px;}
  }
  .id_photo {
    position: absolute;
    margin-left: 15px;
    top: 60px;
    right: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #151515,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,;
    background: white;
    overflow: hidden;
    animation: mvTop 1.5s;
    border: 7px #fff solid;
  }
  .card .id_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border:#CBDF1E 3px solid ; */
  }
  .card-body{
    margin-left:55px;
    
  }

  .id_barcode{
    margin: auto;
  }
  

  body .img-frame {
    display: inline-block;
    position: absolute;
    top: 20%;
    transform: translate(-50%, -50%);
  }
  
  .angles {
    background: linear-gradient(to right, #ccd1dd 2px, transparent 2px) 0 0, linear-gradient(to bottom, #ccd1dd 2px, transparent 2px) 0 0, linear-gradient(to left, #ccd1dd 2px, transparent 2px) 100% 0, linear-gradient(to bottom, #ccd1dd 2px, transparent 2px) 100% 0, linear-gradient(to left, #ccd1dd 2px, transparent 2px) 100% 100%, linear-gradient(to top, #ccd1dd 2px, transparent 2px) 100% 100%, linear-gradient(to right, #ccd1dd 2px, transparent 2px) 0 100%, linear-gradient(to top, #ccd1dd 2px, transparent 2px) 0 100%;
    background-repeat: no-repeat;
    background-size: 11px 11px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.48;
    transition: background-size 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  .img-frame:hover .angles {
    background-size: 20px 20px;
  }
  body article {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 320px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  body article:before {
    content: '';
    background-color: rgba(255,255,255,0.18);
    border-radius: 10px;
    opacity: 0.46;
    position: absolute;
    top: 13px;
    right: 13px;
    bottom: 13px;
    left: 13px;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  body article:hover:before {
    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 25px;
  }

  article span {
    position: absolute;
    display: block;
  }
  
  article span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, rgba(106,85,248,1) 0%, rgba(202,72,246,1) 42%, rgba(248,174,107,1) 90%);
    animation: animate1 2s linear infinite;
  }
  @keyframes animate1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }
  article span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(90deg, rgba(106,85,248,1) 0%, rgba(202,72,246,1) 42%, rgba(248,174,107,1) 90%);
    animation: animate2 2s linear infinite;
    animation-delay: 0.5s;
  }
  @keyframes animate2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  article span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgba(106,85,248,1) 0%, rgba(202,72,246,1) 42%, rgba(248,174,107,1) 90%);
    animation: animate3 2s linear infinite;
    animation-delay: 1s;
  }
  @keyframes animate3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  
  article span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(90deg, rgba(106,85,248,1) 0%, rgba(202,72,246,1) 42%, rgba(248,174,107,1) 90%);
    animation: animate4 2s linear infinite;
    animation-delay: 1.5s;
  }
  @keyframes animate4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }
  
  /* #use_pose_table tbody{
    display: block;
    height: 100%;
    overflow-y: scroll;
  } */

  #use_pose_table thead{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 2px solid rgba(56, 106, 232, 0.75);
    font-weight: 400;
    color: #386ae8;
    font-size: 15px;
    letter-spacing: 0.5px;
  }
  
  #use_pose_table tbody tr{
    display: table;
    width: 100%;
    table-layout: fixed;
    color: #6a55f8;
    font-size: 18px;
  }
  #use_pose_table b:hover{
    border-color: #f8ae6b;
  }
  #log-in-icon {
    box-shadow: 0px 0px 20px 7px rgba(39,162,155,0.25);
    width: 70px;
    height: 70px; 
    position: absolute;
    top: -20px;
    z-index: 10;
  }

  #use_pose_table > tbody > tr > td,
  #use_pose_table > tbody > tr > th,
  #use_pose_table > tfoot > tr > td,
  #use_pose_table > tfoot > tr > th,
  #use_pose_table > thead > tr > td,
  #use_pose_table > thead > tr > th {
      border-style: none !important;
  }
  #use_pose_table{
    border-style: none !important;
  }
  